{% extends "layout.html" %} {% block docs_main %}

<div class="team-page">
  <div class="">
    <img
      id="team-image"
      src="_static/images/team/team.jpg"
      alt="grg-team-image"
    />
  </div>
  <div class="team-container">
    <h1 class="team-title">Team</h1>
    <p class="team-intro">
      Innovators by nature, game-changers by design. We turn bold ideas into
      tomorrow's breakthroughs.
    </p>
    <h2 class="team-association">Current Team</h2>
    <div class="team-grid">
      {% for member in team_current %}
      <div class="team-member">
        <img
          class="team-member-image"
          src="{% if member.img.startswith('http') %}{{ member.img }}{% else %}_static/images/team/{{ member.img }}{% endif %}"
          alt="{{ member.name }}"
        />
        <h2 class="team-member-name">{{ member.name }}</h2>
        <p class="team-member-role">{{ member.position }}</p>
        <div class="team-social-links">
          <a href="#" class="team-social-link" aria-label="phone">
            <img
              class="team-member-image"
              src="_static/images/logos/phone.svg"
              alt="phone"
            />
          </a>
          <a href="#" class="team-social-link" aria-label="email">
            <img
              class="team-member-image"
              src="_static/images/logos/email.svg"
              alt="email"
            />
          </a>
          <a href="#" class="team-social-link" aria-label="web">
            <img
              class="team-member-image"
              src="_static/images/logos/web.svg"
              alt="web"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock docs_main %}
