<footer class="footer">
  <div class="footer-container">
    <div class="footer-newsletter-box">
      <div class="footer-content">
        <h3 class="footer-title">Sign up to our newsletter</h3>
        <p class="footer-description">
          Stay informed on the latest news and updates directly from us. Sign up
          today and never miss a beat!
        </p>
      </div>
      <div class="footer-input-container">
        <input
          type="text"
          placeholder="email@email.com"
          class="footer-input-email"
        />
        <input
          type="submit"
          value="subscribe"
          class="footer-button-subscribe"
        />
      </div>
      <div class="footer-links">
        <ul class="footer-list">
          <li><a href="{{ pathto('index') }}" class="footer-link">Home</a></li>
          <li>
            <a href="https://dipy.org/index.html" class="footer-link">DIPY</a>
          </li>
          <li>
            <a href="https://fury.gl/latest/index.html" class="footer-link"
              >FURY</a
            >
          </li>
          <li>
            <a
              href="https://engineering.indiana.edu/index.html"
              class="footer-link"
              >ISE, Indiana</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-logo-social">
        <div class="footer-logo-container">
          <img
            class="footer-logo"
            src="{{ pathto('_static/images/logos/trident-no-bg.png', 1) }}"
            alt="Logo"
          />
          <span class="footer-logo-name">Garyfallidis Research Group</span>
        </div>
        <ul class="footer-social-links">
          <li>
            <a href="#">
              <img
                src="{{ pathto('_static/images/icons/linkedin.png', 1) }}"
                alt="LinkedIn"
              />
            </a>
          </li>
          <li>
            <a href="https://github.com/GRG-Projects">
              <img
                src="{{ pathto('_static/images/icons/github.png', 1) }}"
                alt="GitHub"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{{ pathto('_static/images/icons/twitter.png', 1) }}"
                alt="Twitter"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
