.team-page {
  margin: 0;
  padding: 0;
}
#team-image {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.team-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.team-intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  color: #636973;
  font-size: 1.1rem;
  line-height: 1.6;
}

.team-association {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 700;
  font-family: sans-serif;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.team-grid-A {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-grid-B {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  gap: 2rem;
  justify-content: space-around;
}

.team-member {
  width: 600px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #c23636 0%, #ac0707 40%, #990000 100%);
}

/* .team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
} */

.team-member-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-image {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.25rem solid #d1d5db;
}

.team-member-info {
  display: grid;
  padding: 2rem;
}

.team-member-name {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.team-member-role {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.team-social-links {
  display: flex;
  justify-content: center;
}

.team-social-link {
  margin: 0 8px;
  color: #6b7280;
  text-decoration: none;
  transition: color 0.2s ease;
}

.team-member-social-image {
  width: 28px;
  height: 28px;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}

@media (min-width: 640px) {
  /* .team-member {
    flex: 1 1 calc(50% - 40px);
  } */
}

@media (min-width: 1920px) {
  /* .team-member {
    flex: 1 1 calc(33.333% - 40px);
  } */
}

@media (min-width: 2560px) {
  .team-grid-B {
    width: 70%;
  }
}
