<div id="hero-item">
  <div class="hero-name-content">
    <div class="hero-uni">
      <img
        id="hero-uni-logo"
        src="_static/images/logos/trident-no-bg-red.png"
        alt="logo"
      />
      <p class="hero-uni-description">Indiana University</p>
    </div>
    <div class="hero-content">
      <h1 class="hero-title">Garyfallidis Research Group</h1>
      <p class="hero-description">
        Advancing the frontiers of neuroimaging through innovative algorithms,
        software development, and interdisciplinary collaboration.
      </p>
      <button class="button-34" role="button">
        <a href="mailto:grg-l@list.indiana.edu">Connect with us</a>
      </button>
    </div>
  </div>
  <div class="hero-video">
    <video autoplay muted loop playsinline id="background-video">
      <source
        src="{{ pathto('_static/video/hero_anima.mp4', 1) }}"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
