<div class="portfolio-section">
  <div class="portfolio-container">
    <h1 class="portfolio-title">Our Research</h1>
    <div class="portfolio-description">
      Advancing the frontiers of science through innovative approaches and
      cutting-edge technology
    </div>
    <div class="portfolio-grid">
      <div
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/three_brains_golden_new.png');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Intelligent</span><span> Neuroimaging</span>
          </h2>
        </div>
      </div>

      <div
        class="portfolio-item"
        style="background-image: url('_static/images/portfolio/jet_odfs.png')"
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Scientific</span> <span>visualization</span>
          </h2>
        </div>
      </div>

      <div
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/machine-learning.jpeg');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Machine</span><span> Learning</span>
          </h2>
        </div>
      </div>

      <div
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/medical_analytic.jpg');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Medical</span> <span>Analytics</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
