<div class="portfolio-section">
  <div class="portfolio-container">
    <h1 class="portfolio-title">Our Research</h1>
    <div class="portfolio-description">
      Advancing the frontiers of science through innovative approaches and
      cutting-edge technology
    </div>
    <div class="portfolio-grid">
      <a
        href="{{ pathto('research') }}#research-intelligent-neuroimaging"
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/three_brains_golden_new.png');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Intelligent</span><span>Neuroimaging</span>
          </h2>
        </div>
      </a>

      <a
        href="{{ pathto('research') }}#research-scientific-visualization"
        class="portfolio-item"
        style="background-image: url('_static/images/portfolio/jet_odfs.png')"
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Scientific</span> <span>Visualization</span>
          </h2>
        </div>
      </a>

      <a
        href="{{ pathto('research') }}#research-machine-learning"
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/machine-learning.jpeg');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Machine</span> <span>Learning</span>
          </h2>
        </div>
      </a>

      <a
        href="{{ pathto('research') }}#research-medical-analytics"
        class="portfolio-item"
        style="
          background-image: url('_static/images/portfolio/medical_analytic.jpg');
        "
      >
        <div class="portfolio-item-content">
          <h2 class="portfolio-item-title">
            <span>Medical</span> <span>Analytics</span>
          </h2>
        </div>
      </a>
    </div>
  </div>
</div>
