.bd-footer .bd-footer__inner {
  padding: 0;
}

.footer-container {
  margin: 0 auto;
}

/* Newsletter box */
.footer-newsletter-box {
  padding: 3rem;
  background-color: #880000;
  text-align: center;
}

/* Content */
.footer-content {
  margin-bottom: 2rem;
}

.footer-title {
  font-size: 1.875rem;
  line-height: 2.5rem;
  color: white;
  font-weight: bold;
}

.footer-description {
  color: #aeaeae;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .footer-description {
    max-width: 50%;
    font-size: 1.125rem;
  }
}

/* Input container */
.footer-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1rem;
}

.footer-input-email {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  width: 100%;
  max-width: 300px;
}

.footer-button-subscribe {
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 150px;
}

.footer-button-subscribe:hover {
  background-color: #ffd6db;
}

@media (min-width: 640px) {
  .footer-input-container {
    flex-direction: row;
    justify-content: center;
  }
}

/* Footer Links */
.footer-links {
  margin-top: 1rem;
  font-weight: bold;
  color: white;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Logo and Social Links */
.footer-logo-social {
  margin-top: 2rem;
  text-align: center;
}

.footer-logo-container {
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.footer-logo {
  width: 2rem;
  max-width: 100%;
}

.footer-logo-name {
  color: white;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer-social-links img {
  width: 2rem;
  transition: opacity 0.3s;
  background-color: white;
  border-radius: 0.3rem;
}

.footer-social-links img:hover {
  opacity: 0.5;
}
