.research-page {
  margin: 0;
  padding: 0;
}

#research-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.research-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research-intro {
  width: 100%;
}

.research-area {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.research-image {
  flex: 0 0 400px;
  height: 400px;
}

.research-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.research-text {
  flex: 1;
}

.research-text-header {
  font-size: 2rem;
  font-weight: 700;
  border-left: 2px solid gray;
  padding: 1rem;
}

.research-text p {
  margin-top: 1rem;
  font-size: 20px;
  width: 80%;
}

.research-selector-cards {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.research-selector {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #990000 0%, #8c0000 40%, #800000 100%);
}

.research-selector:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.research-section-icons {
  padding: 10px;
  width: 70px;
  height: 70px;
  color: white !important;
}

.research-section-name {
  margin-top: 10px;
  text-align: center;
  white-space: line;
  color: white !important;
}
