@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
  color: inherit !important;
  text-decoration: inherit !important;
}

/* To utilise full width of screen */
.bd-header {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.bd-main .bd-content .bd-article-container {
  max-width: none;
}

.bd-page-width {
  max-width: none;
}

.navbar {
  background: #990000 !important;
}

.navbar-brand {
  text-decoration: none !important;
}

.navbar-brand p {
  color: white;
}

/* _static/css/common.css */

.navbar {
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
  position: relative;
}

.navbar-item a {
  text-decoration: none !important;
  color: white !important;
}

.bd-header .navbar-header-items {
  display: flex;
  justify-content: end;
}

/* .navbar-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
} */

.divider {
  height: 4px;
  width: 100%;
  background: linear-gradient(135deg, #313132 0%, #202024 50%, #000000 100%);
  border-radius: 2px;
  margin: 1rem auto;
}
