.footer {
  background-color: #800000;
  padding: 48px 0;
  color: white !important;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.bd-footer .bd-footer__inner {
  padding: 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
@media (min-width: 640px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.col-span-2 {
  grid-column: span 2;
}
.newsletter h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 24px;
}
.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
}
@media (min-width: 768px) {
  .newsletter-form {
    flex-direction: row;
  }
}
.newsletter-input {
  padding: 8px 16px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .newsletter-input {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.newsletter-button {
  padding: 10px 24px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.newsletter-button:hover {
  background-color: whitesmoke;
}
.footer-links h3 {
  font-size: 1rem;
  font-weight: 600;
  /* color: #1f2937; */
  margin-bottom: 20px;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 8px;
}
.footer-links a {
  /* color: #4b5563; */
  text-decoration: none;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: #2563eb;
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  padding-top: 24px;
  border-top: 1px solid #d1d5db;
}
.footer-logo img {
  height: 28px;
}
.social-links a {
  margin-left: 8px;
  /* color: #4b5563; */
}
.social-links svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
