.course-page {
  margin: 0;
  padding: 0;
}

#course-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-intro {
  width: 100%;
}

.course-list {
  width: 80%;
  margin: 0 auto;
}
.course-info {
  padding: 20px;
  border-radius: 5px;
  background-color: maroon;
  margin-top: 2rem;
  border: 2px solid white;
}
.course-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.course-description {
  margin-bottom: 20px;
}
.course-body {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.course-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.detail-item {
  margin-bottom: 10px;
}
.detail-label {
  font-weight: bold;
}
