{% extends "layout.html" %} {% set title = 'Home' %} {% block docs_main %}
<div id="hero">
  <div class="section">{%- include "components/home/hero-bg.html" %}</div>
  <div class="section">{%- include "components/home/intro.html" %}</div>
</div>
<div class="section">{%- include "components/home/research-items.html" %}</div>
<div class="section">{%- include "components/home/workshop-banner.html" %}</div>
<div class="section">{%- include "components/home/journals.html" %}</div>
{% endblock docs_main %}
