{% extends "layout.html" %} {% set title = 'Research' %} {% block docs_main %}

<section class="research-page">
  <div class="research-hero">
    <img
      id="research-image"
      src="_static/images/banner/research.jpg"
      alt="research-grg-image"
    />
  </div>
  <div class="research-container">
    <div class="research-intro">
      <h1 class="team-title">Research</h1>
      <p class="team-intro">
        GRG performs research in the areas of: medical imaging, machine
        learning, signal processing, scientific visualization and software
        engineering. More specifically, we concentrate on the development of new
        methods from these topics applied to MRI analysis for generic
        applications e.g., understanding the structural connectivity of the
        brain and specific applications e.g., studying Alzheimer's disease or
        tracking brain tumors. Finally, the GRG is the headquarters of DIPY.
        DIPY is a popular international software project for computational
        neuroanatomy.
      </p>
      <div class="research-selector-cards">
        <a href="#research-intelligent-neuroimaging" class="research-selector">
          <img
            src="_static/images/icons/brain-map.svg"
            alt="lab-info"
            class="research-section-icons"
          />
          <p class="research-section-name">Intelligent Neuroimaging</p>
        </a>
        <a href="#research-scientific-visualization" class="research-selector">
          <img
            src="_static/images/icons/viz.svg"
            alt="founder-info"
            class="research-section-icons"
          />
          <p class="research-section-name">Scientific Visualization</p>
        </a>
        <a href="#research-machine-learning" class="research-selector">
          <img
            src="_static/images/icons/ml.svg"
            alt="research-info"
            class="research-section-icons"
          />
          <p class="research-section-name">
            Machine <br />
            Learning
          </p>
        </a>
        <a href="#research-medical-analytics" class="research-selector">
          <img
            src="_static/images/icons/med.svg"
            alt="research-info"
            class="research-section-icons"
          />
          <p class="research-section-name">
            Medical <br />
            Analytics
          </p>
        </a>
      </div>
      <div class="divider"></div>
    </div>

    <!-- <div class="research-video">
      <video autoplay muted loop id="research-video">
        <source
          src="{{ pathto('_static/video/research.mp4', 1) }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div> -->

    <div class="research-zones">
      <div id="research-intelligent-neuroimaging" class="research-area">
        <div class="research-image">
          <img
            src="_static/images/portfolio/three_brains_golden_new.jpg"
            alt=""
          />
        </div>
        <div class="research-text">
          <div class="research-text-header">
            Intelligent Neuroimaging and Brain Mapping
          </div>
          <!-- <div class="divider"></div> -->
          <p>
            A great percentage of the population struggles from mental diseases
            and every single person has gown through mentally troubling times in
            their life. Brain scanners produce datasets that require
            sophisticated analysis before they can be used by researchers or
            clinicians. We develop intelligent algorithms and software that
            performs this analysis and distribute them openly in the world.
          </p>
        </div>
      </div>
      <div id="research-scientific-visualization" class="research-area">
        <div class="research-image">
          <img src="_static/images/portfolio/jet_odfs.jpg" alt="" />
        </div>
        <div class="research-text">
          <div class="research-text-header">Scientific visualization</div>
          <!-- <div class="divider"></div> -->
          <p>
            In GRG, we built game engines for scientific visualization.
            Scientists need the most advanced tools to visualize their data. We
            develop highly modular APIs to allow scientists to interact with
            high dimensional and complex datasets.
          </p>
        </div>
      </div>
      <div id="research-machine-learning" class="research-area">
        <div class="research-image">
          <img src="_static/images/portfolio/machine-learning.jpg" alt="" />
        </div>
        <div class="research-text">
          <div class="research-text-header">Machine Learning</div>
          <!-- <div class="divider"></div> -->
          <p>
            Machine Learning and A.I. are of great importance to our group. At
            GRG we have long expertise in sequential unsupervised clustering
            which started with the development of QuickBundles. However, we
            develop algorithms both for supervised and reinforcement learning.
            Our group has also great interest in Artificial General Intelligence
            who we believe will have an astounding impact in medical
            applications.
          </p>
        </div>
      </div>
      <div id="research-medical-analytics" class="research-area">
        <div class="research-image">
          <img src="_static/images/portfolio/medical_analytic.jpg" alt="" />
        </div>
        <div class="research-text">
          <div class="research-text-header">Medical Analytics</div>
          <!-- <div class="divider"></div> -->
          <p>
            Modern medical hardware has many different capabilities and often
            provide data that are multi-dimensional and inherently complex. At
            GRG we build tools to simplify these datasets and discover hot
            points for usage in clinical applications.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock docs_main %}
